@media only screen and (max-device-width: 480px) {
 * {
    background: url('../images/bg-pattern-desktop.svg') ;
    width: 375px;
 }
}

body {
    width: 1440px;
}

div#left-container{
    background: url('../images/bg-pattern-desktop.svg');
    width:50%;
    position:absolute;
    left: 0px;
    height: 100%;
    background-repeat: no-repeat;
}

div#right-container {
    background: url('../images/hero-desktop.jpg');
    width:50%;
    position: absolute;
    right: 0px;
    height: 100%;
    background-repeat:no-repeat ;
}

header {
    margin-top: 2rem;
}

header h3 {
    font-family: 'Josefin Sans', sans-serif;
    font-weight: 400;
    font-size: 32px;
    letter-spacing: .5rem;
    margin: .5rem;
    
}

/* .main-title-container {

} */

.title-were {
    font-family: 'Josefin Sans', sans-serif;
    font-weight: 300;
    letter-spacing: .5rem;
    color:hsl(0, 36%, 70%);
    
}

h1.title-text{
    font-family: 'Josefin Sans', sans-serif;
    font-weight: 600;
    font-size: 78px;
    letter-spacing: .5rem;
    line-height: 1.1;
    color: hsl(0, 6%, 24%);
    
}


div.greeting-container p{
    font-family: 'Josefin Sans', sans-serif;
    width: 30rem;
    color: hsl(0, 36%, 70%);
    line-height: 2;
    margin:1rem;
    
}

input.email-input {
    font-family: 'Josefin Sans', sans-serif;
    background: rgba(0, 0, 0, 0);
    color: hsl(0, 36%, 70%);
    outline: none;
    border-radius: 20px;
    width: 60%;
    padding: 10px;
}

::placeholder {
    color: hsl(0, 36%, 70%);
    
}